.grid-container {
  display: grid;
  grid-template-columns: auto auto auto ;
  background-color: #2196F3;

}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  
}
.textbox {
  height:50px;
}
form {
font-size:0.80em;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

/* Kysymykset.jsp */
.welcome {
	text-align: center;
	max-width: 800px;
	margin: auto;
}

.questions {
	align-items: center;
}

.question-card {
	background-color: #2196F3;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	margin-bottom: 25px;
	min-height: 200px;
}

.question-card h2 {
	text-align: center;
	font-size: 2em;
	margin-bottom: 40px;
}

.question-card ul {
	font-size: 1.2em;
}

.question-card ul li {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.question-card ul li input {
	order: 2;
}

.question-card ul li label {
	order: 1;
}

/* parhaat_ehdokkaat.jsp */
.ehdokkaat {
	max-width: 1440px;
	margin: auto;
	justify-content: space-evenly;
}

.ehdokas-card {
	flex-basis: 400px;
	background-color: #2196F3;
	border: 1px solid rgba(0, 0, 0, 0.8);
	border-radius: 20px;
	text-align: center;
}

.link {
	margin-top: 50px;
	justify-content: center;
}